@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightsteelblue;
}

h1 {
  padding: 10px;
}

.geral {
  display: inline-block;
  padding: 10px;
  border: 3px solid black;
  margin: 10px;
  text-align: center;
}